@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family: Poppins;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.movi {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
}
.movi .lista .item {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
}
.movi .lista .item img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    overflow: hidden;
}
.movi .lista .item .contenido {
    position: absolute;
    top: 15%;
    width: 1140px;
    max-width: 80%;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 40%;
    box-sizing: border-box;
    color: white;
    text-shadow: 0 5px 10px #0004;
}
.movi .lista .item .contenido .autor {
    font-weight: bold;
    letter-spacing: 10px;
}
.movi .lista .item .contenido .titulo, 
.movi .lista .item .contenido .tema {
    font-weight: bolder;
    font-size: 78px;
    line-height: 1.3em;
}
.movi .lista .item .tema {
    color: rgb(153, 153, 153);
}
.movi .lista .item .boton {
    display: grid;
    grid-template-columns: repeat(2, 130px);
    grid-template-rows: 40px;
    gap: 5px;
    margin-top: 10px;
}
.movi .lista .item .boton button {
    border: none;
    background-color: #eee;
    letter-spacing: 3px;
    font-family: Poppins;
    font-weight: 500;
}
.movi .lista .item .boton button:nth-child(2) {
    background-color: transparent;
    color: #eee;
    border: 1px solid white;
}
.int {
    position: absolute;
    bottom: 50px;
    left: 50%;
    width: max-content;
    z-index: 100;
    display: flex;
    gap: 20px;
}
.int .item {
    width: 150px;
    height: 220px;
    flex-shrink: 0;
    position: relative;
}
.int .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.int .item .contenido {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    color: aliceblue;
}
.int .item .contenido .titulo {
    font-weight: 500;
}
.int .item .contenido .des {
    font-weight: 200;
}
.flechas {
    position: absolute;
    top: 80%;
    right: 52%;
    display: flex;
    z-index: 100;
    width: 300px;
    max-width: 30%;
    gap: 10px;
    align-items: center;
}
.flechas button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #eee4;
    border: none;
    font-family: monospace;
    color: white;
    font-weight: bold;
    font-size: large;
    transition: 0.5s;
}
.flechas button:hover {
    background-color: #fff;
    color: #000;
}
.movi .lista .item:nth-child(1) {
    z-index: 1;
}
.movi .lista .item:nth-child(1) .contenido .autor,
.movi .lista .item:nth-child(1) .contenido .titulo,
.movi .lista .item:nth-child(1) .contenido .tema,
.movi .lista .item:nth-child(1) .contenido .boton {
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent 0.5s 1s linear 1 forwards;
}

@keyframes showContent {
    to {
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
    }
}

.movi .lista .item:nth-child(1) .contenido .titulo {
    animation-delay: 1.2s !important;
}
.movi .lista .item:nth-child(1) .contenido .tema {
    animation-delay: 1.4s !important;
}
.movi .lista .item:nth-child(1) .contenido .des {
    animation-delay: 1.6s !important;
}
.movi .lista .item:nth-child(1) .contenido .boton {
    animation-delay: 1.8s !important;
}

.movi.desp .lista .item:nth-child(1) img {
    width: 150px;
    height: 220px;
    position: absolute;
    left: 50%;
    bottom: 50px;
    border-radius: 30px;
    animation: showImage 0.5s linear 1 forwards;
}
@keyframes showImage {
    to {
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}

.movi.desp .int .item:nth-last-child(1) {
    overflow: hidden;
    animation: showInt 0.5s linear 1 forwards;
}
.movi.ant .lista .item img {
    z-index: 100;
}
@keyframes showInt {
    from {
        width: 0;
        opacity: 0;
    }
}
.movi.desp .int {
    animation: effectNext 0.5s linear 1 forwards;
}
@keyframes effectNext {
    from {
        transform: translateX(150px);
    }
}

.int .tiempo {
    position: absolute;
    z-index: 1000;
    width: 0%;
    height: 3px;
    background-color: #ff0202;
    left: 0;
    top: 0;
}

.movi.desp .tiempo,
.movi.ant .tiempo {
    animation: correTiempo 3s linear 1 forwards;
}
@keyframes correTiempo {
    from {
        width: 100%;
    }
    to {
        width: 0;
    }
}

.movi.ant .lista .item:nth-child(2) img {
    animation: outFrame 0.5s linear 1 forwards;
    position: absolute;
    bottom: 0;
    left: 0;
}

@keyframes outFrame {
    to {
        width: 150px;
        height: 220px;
        bottom: 50px;
        left: 50%;
        border-radius: 20px;
    }
}

.movi.ant .int .item:nth-child(1) {
    overflow: hidden;
    opacity: 0;
    animation: showInt 0.5s linear 1 forwards;
}

.movi.ant .flechas button,
.movi.desp .flechas button {
    pointer-events: none;
}

.movi.ant .lista .item:nth-child(2) .contenido .autor,
.movi.ant .lista .item:nth-child(2) .contenido .titulo,
.movi.ant .lista .item:nth-child(2) .contenido .tema,
.movi.ant .lista .item:nth-child(2) .contenido .boton {
    animation: contentOut 1.5s linear 1 forwards !important;
}
@keyframes contentOut {
    to {
        transform: translateY(-150px);
        filter: blur(20px);
        opacity: 0;
    }
}

@media screen and (max-width: 678px) {
    .movi .lista .item .contenido {
        padding-right: 0;
    }
    .movi .lista .item .contenido .titulo {
        font-size: 30px;
    }
}
